.App {
  text-align: center;
}

body{
	background-color: gray;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1{
	text-align: center;
}

div{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	width: 80%;
	flex-wrap: wrap;
}

#movieButtons {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

button {
	border: 1px solid black;
	margin-bottom: 10px;
	color: white;
	font-weight: bold;
	width: 30%;
	height: 150px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

button:hover{
	width: 40%;
	height: 200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}